<nav class="navbar navbar-expand-lg app-navbar" xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
    <div class="app-navbar-inner container-fluid">
        <a class="navbar-brand app-brand" th:href="@{/dashboard}">
            <span class="app-brand-mark">MS</span>
            <span>MealSubs</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto nav-pills-shell">
                <li class="nav-item"><a class="nav-link" th:href="@{/dashboard}">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/meals}">Meals</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/meals}">Admin</a></li>
            </ul>

            <div class="app-nav-meta">
                <span class="user-chip d-none" id="nav-user-chip">
                    <span class="user-chip-label">Signed in as</span>
                    <span id="nav-user-email">Guest</span>
                </span>
                <ul class="nav-cta-list">
                    <li class="nav-item" id="nav-login-item">
                        <a class="nav-link nav-cta" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item d-none" id="nav-logout-item">
                        <a class="nav-link nav-cta-secondary" id="logout-link" th:href="@{/login}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
